:root {
  ._44b0c28be7879b7b-avatar, // dm/chatbar/member
  .c19a557985eb7793-avatar, // messages
  ._07f9193042954787-avatar, // channel list vc
  .d28e107656edce18-avatar, //settings
  ._75742e4cc9019aeb-overlay:after, //hover overlay
  .f910d08f42c82225-voiceAvatar, // call
  .f910d08f42c82225-border, // call (speaking)
  .avatarSpeaking__44b0c // chatbar pfp (speaking)
  {
    border-radius: var(--avatar-radius);
  }

  ._44b0c28be7879b7b-mask,
  .cc5dd25190031396-wrapper, // dm call
  .f910d08f42c82225-callAvatarMask {
    foreignObject {
      mask: unset;
    }
  }

  //TODO status icons

  //modals
  ._7c0bae9243151ddd-horizontalReverse, //leave server bottom
  ._66e7e7f9b4da60b0-option, //server feedback buttons
  ._6c12c295172334d8-footer, ._49fc18ba07c5025f-footer //feedback footer
  {
    background-color: var(--background-secondary);
  }

  //Tooltips
  .c36707910f687430-tooltip {
    background-color: var(--background-secondary-alt);
  }

  //Topbar + weird corner of main area
  .c38106a3f0c3ca76-title,
  ._5e434347c823b592-sidebarList {
    background-color: var(--background-tertiary);
  }

  //Base bg
  ._5e434347c823b592-base {
    background-color: var(--background-tertiary);
  }

  // Streaming bar + vc status + spotify player
  ._5dec784a68542d60-panel,
  .e131a99484292a19-wrapper,
  #vc-spotify-player {
    background-color: var(--background-secondary-alt);
  }

  // Vencord update notice
  .vc-notification-root {
    background-color: var(--background-secondary);
  }

  // mentions badge
  ._2b1f52e43a8f1c02-numberBadge {
    background-color: var(--mention-color) !important;
    // animation: var(--disable-animations);
  }

  // text
  ._7aaec78b97ff00f7-barText {
    color: white !important;
  }

  // Server popout (clicking on tags)
  .dca174a2baed7ac1-container {
    background: var(--background-primary);
  }

  ._0b69f200eb3bf411-upsellContainer {
    background: var(--background-primary);
  }

  .e0cf275d59896c00-listeningAlong {
    background-color: var(--background-secondary-alt);
  }

  // Custom fonts
  ._89a318b9387eda06-dnsFont {
    font-family:
      gg sans,
      Arial,
      sans-serif;

    * {
      --custom-display-name-styles-main-color: var(--white-500) !important;
      --custom-display-name-styles-light-1-color: var(--black-500) !important;
      --custom-display-name-styles-light-2-color: var(--black-500) !important;
      --custom-display-name-styles-dark-1-color: var(--white-500) !important;
      --custom-display-name-styles-dark-2-color: var(--white-500) !important;
      --custom-display-name-styles-font-opacity: 0 !important;
    }

    .dfb989b3f435152a-glowContainer {
      display: none;
    }
  }

  .dfb989b3f435152a-showEffect.dfb989b3f435152a-container * {
    -webkit-text-stroke-width: 0px !important;
  }

  .dfb989b3f435152a-animated {
    animation: none !important;
  }

  // Fix Spotify player title
  #vc-spotify-song-title {
    color: var(--text-default) !important;
  }
}
