:root {
  .avatar__44b0c, // dm/chatbar/member
  .avatar_c19a55, // messages
  .avatar__07f91, // channel list vc
  .avatar_d28e10, //settings
  .overlay__75742:after, //hover overlay
  .voiceAvatar_f910d0, // call
  .border_f910d0, // call (speaking)
  .avatarSpeaking__44b0c // chatbar pfp (speaking)
  {
    border-radius: var(--avatar-radius);
  }

  .mask__44b0c,
  .wrapper_cc5dd2, // dm call
  .callAvatarMask_f910d0 {
    foreignObject {
      mask: unset;
    }
  }

  //TODO status icons

  //modals
  .horizontalReverse__7c0ba, //leave server bottom
  .option__66e7e, //server feedback buttons
  .footer__6c12c, .footer__49fc1 //feedback footer
  {
    background-color: var(--background-secondary);
  }

  //Tooltips
  .tooltip_c36707 {
    background-color: var(--background-secondary-alt);
  }

  //Topbar + weird corner of main area
  .title_c38106,
  .sidebarList__5e434 {
    background-color: var(--background-tertiary);
  }

  //Base bg
  .base__5e434 {
    background-color: var(--background-tertiary);
  }

  // Streaming bar + vc status + spotify player
  .panel__5dec7,
  .wrapper_e131a9,
  #vc-spotify-player {
    background-color: var(--background-secondary-alt);
  }

  // Vencord update notice
  .vc-notification-root {
    background-color: var(--background-secondary);
  }

  // mentions badge
  .numberBadge__2b1f5 {
    background-color: var(--mention-color) !important;
    // animation: var(--disable-animations);
  }

  // text
  .barText__7aaec {
    color: white !important;
  }

  // Server popout (clicking on tags)
  .container_dca174 {
    background: var(--background-primary);
  }

  .upsellContainer__0b69f {
    background: var(--background-primary);
  }

  .listeningAlong_e0cf27 {
    background-color: var(--background-secondary-alt);
  }

  // Custom fonts
  .dnsFont__89a31 {
    font-family:
      gg sans,
      Arial,
      sans-serif;

    * {
      --custom-display-name-styles-main-color: var(--white-500) !important;
      --custom-display-name-styles-light-1-color: var(--black-500) !important;
      --custom-display-name-styles-light-2-color: var(--black-500) !important;
      --custom-display-name-styles-dark-1-color: var(--white-500) !important;
      --custom-display-name-styles-dark-2-color: var(--white-500) !important;
      --custom-display-name-styles-font-opacity: 0 !important;
    }

    .glowContainer_dfb989 {
      display: none;
    }
  }

  .showEffect_dfb989.container_dfb989 * {
    -webkit-text-stroke-width: 0px !important;
  }

  .animated_dfb989 {
    animation: none !important;
  }
}
