:root {
  // behind pfp
  ._68edb95846a37624-mask > mask {
    display: none;
  }

  // profile
  .c0bea05627c5dc35-outer {
    overflow: visible;

    .c0bea05627c5dc35-inner {
      background-color: var(--background-primary);
    }

    .ab86098b36386ff7-inner, //add status
    .ab86098b36386ff7-outer //add status bubbles
    {
      background-color: var(--background-secondary);
    }

    // actions
    ._0d1eff984b8fd277-wrapper {
      top: -32px;
      margin: 1px 6px;
      transform: scale(0.9);
      right: 6px;

      button {
        background-color: var(--profile-gradient-primary-color);
        border-radius: 8px;
      }
    }

    // "Board" section
    ._62dd31d5e86f2841-container {
      background-color: var(--background-tertiary);
    }
  }

  .user-profile-modal {
    ._0d1eff984b8fd277-wrapper {
      top: 16px;
    }
  }

  // sections
  .c0bea05627c5dc35-overlay {
    background-color: var(--background-secondary-alt);
  }

  .user-profile-popout {
    :where(._75742e4cc9019aeb-avatar) {
      top: 10px;
    }

    ._63ed30c16c7151f2-usernameRow {
      position: absolute;
      z-index: 9999;
      top: -130px;
      left: 120px;
      display: block;

      ._63ed30c16c7151f2-nicknameIcons {
        display: none; //TODO: fix nickname icons
      }

      ._63ed30c16c7151f2-nickname {
        font-size: clamp(0.7vw, 20px, 1vw);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    ._8061a5f9dbf6d829-container {
      position: absolute;
      z-index: 9999;
      top: -90px;
      left: 120px;
    }

    div._5be3ef42f92174b2-body.d125d22cdfd32cfe-thin.d125d22cdfd32cfe-scrollerBase.d125d22cdfd32cfe-fade {
      top: -10px;
      overflow: visible !important;

      background-color: var(--background-secondary);
      margin: 10px 10px;
      border-radius: 10px;
    }

    .ab86098b36386ff7-container {
      top: calc(var(--custom-user-profile-banner-height) + 3px);
      left: 10px;

      ::before,
      ::after {
        display: none;
      }
    }

    .ab86098b36386ff7-outer {
      border-radius: 10px;
      width: fit-content;
      max-width: none;
      margin-right: 10px;
      margin-bottom: 8px;
      box-sizing: unset;

      .ab86098b36386ff7-inner {
        padding: 8px 8px 8px 12px;
      }
    }
  }

  // User panels (User + VC Spotify)
  ._5e434347c823b592-panels {
    bottom: -10px;

    // User
    ._37e49614b9f110a9-container {
      background-color: var(--background-secondary-alt);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    #vc-spotify-player {
      border-radius: 0px;
    }

    .e131a99484292a19-wrapper {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }

  // Weird bottom fade-out
  ._5e434347c823b592-sidebar:after {
    display: none;
  }
}
