:root {
  // community
  .chat_f75fb0 //main pages
  {
    background-color: var(--background-primary) !important;

    //Channels & Roles / Server Guide + Browse Channels
    .content_f75fb0,
    .pageBody__41ed7 {
      background-color: var(--background-primary) !important;

      .mainTableContainer__09a38 {
        background-color: var(--background-secondary) !important;
      }

      // Choose Your Channels
      .container_bc0d35 {
        background-color: var(--background-secondary);
      }

      .profileCard__5d7c9 {
        background-color: var(--background-secondary);
      }

      .upsellPreview_d9161f {
        background-color: var(--background-tertiary);

        .previewListItem_d9161f.selected_d9161f {
          background-color: var(--background-primary);
        }
      }
    }

    // Header of Channels & Roles
    .header__0b563 {
      background-color: var(--background-secondary) !important;
    }
  }

  .prompt__5d7c9, //Customize prompts
  .channelRow_e4503a, //Channels in browse channels
  .row_d13feb // Resources
  {
    background-color: var(--background-secondary);
  }

  // Mod view

  .guildSidebar_f75fb0 {
    background-color: var(--background-secondary);
    .innerContainer__656be {
      background-color: var(--background-secondary);
      .container__34940 {
        .topRow__34940,
        .bottomRowAction__34940 {
          background-color: var(--background-primary);
        }
      }

      .container__3a5a1 {
        background-color: var(--background-primary);

        .innerContainer__3a5a1 {
          // Join Method invite code
          .inviteContainer__23437 {
            background-color: var(--background-secondary-alt);
          }
        }

        .header__3a5a1 {
          background-color: var(--background-primary);
        }

        .modInfoItem__96c0b {
          background-color: var(--background-secondary);
        }
      }
    }
  }

  // Application

  .contentWrapper__99a7e {
    background-color: var(--background-primary);

    .confirmation__1051d {
      background-color: var(--background-tertiary);
    }
  }
}
