:root {
  // community
  .f75fb00fb7356cbe-chat //main pages
  {
    background-color: var(--background-primary) !important;

    //Channels & Roles / Server Guide + Browse Channels
    .f75fb00fb7356cbe-content,
    ._41ed70e52483df6d-pageBody {
      background-color: var(--background-primary) !important;

      ._09a38002c6c2466d-mainTableContainer {
        background-color: var(--background-secondary) !important;
      }

      // Choose Your Channels
      .bc0d3515e6cb489a-container {
        background-color: var(--background-secondary);
      }

      ._5d7c9a81ac5dd074-profileCard {
        background-color: var(--background-secondary);
      }

      .d9161fe9b78d5bb9-upsellPreview {
        background-color: var(--background-tertiary);

        .d9161fe9b78d5bb9-previewListItem.d9161fe9b78d5bb9-selected {
          background-color: var(--background-primary);
        }
      }
    }

    // Header of Channels & Roles
    ._0b56311ebc6682e2-header {
      background-color: var(--background-secondary) !important;
    }
  }

  ._5d7c9a81ac5dd074-prompt, //Customize prompts
  .e4503acec53c64dd-channelRow, //Channels in browse channels
  .d13feb942bc5e7c6-row // Resources
  {
    background-color: var(--background-secondary);
  }

  // Mod view

  .f75fb00fb7356cbe-guildSidebar {
    background-color: var(--background-secondary);
    ._656be05658eed04d-innerContainer {
      background-color: var(--background-secondary);
      ._34940b51cd19b69f-container {
        ._34940b51cd19b69f-topRow,
        ._34940b51cd19b69f-bottomRowAction {
          background-color: var(--background-primary);
        }
      }

      ._3a5a1cbdfaf1e8ec-container {
        background-color: var(--background-primary);

        ._3a5a1cbdfaf1e8ec-innerContainer {
          // Join Method invite code
          ._234375a3f05ff5ba-inviteContainer {
            background-color: var(--background-secondary-alt);
          }
        }

        ._3a5a1cbdfaf1e8ec-header {
          background-color: var(--background-primary);
        }

        ._96c0ba03d1498fba-modInfoItem {
          background-color: var(--background-secondary);
        }
      }
    }
  }

  // Application

  ._99a7ebf9fd5f2fee-contentWrapper {
    background-color: var(--background-primary);

    ._1051dda1dcd41f38-confirmation {
      background-color: var(--background-tertiary);
    }
  }
}
