$serverListWidth: 72px;

:root {
  .ef3116c2da186559-wrapper._5e434347c823b592-guilds {
    background-color: var(--background-tertiary);
    margin-bottom: calc(110px + var(--space-xs) - 16px);

    ._650eb104245d257b-listItem {
      ._6e9f8dce4cc18de3-icon, // server icon
      ._48112cbe77dc5022-folderPreviewWrapper, // folders
      ._6e9f8dce4cc18de3-childWrapper // home button
      {
        border-radius: var(--server-radius);
      }

      ._48112cbe77dc5022-folderPreview .f34534e8a5d3ca64-icon {
        border-radius: var(--server-radius) !important;
      }
    }
  }

  // user area buttons
  ._37e49614b9f110a9-buttons {
    position: fixed;
    width: $serverListWidth;
    background: var(--background-tertiary);

    display: flex;
    flex-direction: column;

    left: 0;
    bottom: 0;
    gap: var(--user-buttons-spacing);

    & button {
      width: 100%;
      color: var(--user-buttons-color);
      margin: 0;
    }
  }

  // unread pill
  .cc5dd25190031396-lowerBadge {
    z-index: 1;
  }
  // unread
  .ef3116c2da186559-unreadMentionsIndicatorBottom {
    width: $serverListWidth;
    padding: 0;

    ._3b95d7d910416e54-bar {
      width: inherit;
      background-color: var(--mention-color);
    }
  }
}
