:root {
  ._23e6b439306f125a-contentRegionScroller //main settings area
  {
    background-color: var(--background-primary);
  }

  ._1fed1dd06c7aabf7-accountProfileCard {
    background-color: var(--background-secondary);

    ._1fed1dd06c7aabf7-background, ._1fed1dd06c7aabf7-fieldList, ._1fed1dd06c7aabf7-badgeList {
      background-color: var(--background-primary);
    }
  }

  ._23e6b439306f125a-sidebarRegionScroller, //sidebar
  ._730694f5672c9601-cardPrimary, //Account standing
  .vc-addon-card, //vencord plugins
  .f8c98cc3d7c1bc42-box, //family centre
  ._50a5493e9d9cc496-authedAppV2, //authorized apps
  .connectContainer_c7f964, // connections page header
  .c7f964e7e0fc8b47-connection //individual apps
  {
    background-color: var(--background-secondary);
  }

  .c7f964e7e0fc8b47-connectionHeader, //connections header
  ._50a5493e9d9cc496-headerV2,
  ._0624fc41b766635c-row // Family centre stuff
  {
    background-color: var(--background-secondary-alt);
  }

  // Toggles
  ._3f21e80f8677ec40-container {
    background-color: color-mix(
      in srgb,
      var(--background-primary),
      white 10%
    ) !important;

    &._3f21e80f8677ec40-checked {
      background-color: var(--background-accent) !important;
    }
  }

  // Security keys
  ._6c75d92c128c46b0-credentialItem {
    background-color: var(--background-secondary);
  }

  ._65c15724a894a2e0-premiumBackground {
    background-color: var(--background-secondary);
  }

  //channel settings
  ._23e6b439306f125a-contentColumn {
    ._1a4ef2934d882343-folderHeader, ._1a4ef2934d882343-roleMemberList {
      background-color: var(--background-secondary);
    }

    ._535437b3d3b11fd1-scroller {
      background-color: var(--background-primary);
    }

    ._344e69670924b1be-group > ._344e69670924b1be-item:not(._344e69670924b1be-selected) {
      background-color: var(--background-secondary);
    }

    ._344e69670924b1be-group > ._344e69670924b1be-item._344e69670924b1be-selected {
      background-color: var(--background-tertiary);
    }
  }

  ._8a529c8f8d8148a5-container {
    background-color: var(--background-secondary);

    .e9e3ed8b8badfe05-content, .e9e3ed8b8badfe05-contentHeader {
      background-color: var(--background-secondary);
    }

    ._5cea9da4c2ca012f-usersList, .vc-settings-quickActions-pill {
      background-color: var(--background-primary);
    }
    
    .vc-card-base {
      background-color: var(--background-tertiary);
    }
  }
}
