:root {
  .contentRegionScroller__23e6b //main settings area
  {
    background-color: var(--background-primary);
  }

  .accountProfileCard__1fed1 {
    background-color: var(--background-secondary);

    .background__1fed1,
    .fieldList__1fed1,
    .badgeList__1fed1 {
      background-color: var(--background-primary);
    }
  }

  .sidebarRegionScroller__23e6b, //sidebar
  .cardPrimary__73069, //Account standing
  .vc-addon-card, //vencord plugins
  .box_f8c98c, //family centre
  .authedAppV2__50a54, //authorized apps
  .connectContainer_c7f964, // connections page header
  .connection_c7f964 //individual apps
  {
    background-color: var(--background-secondary);
  }

  .connectionHeader_c7f964, //connections header
  .headerV2__50a54,
  .row__0624f // Family centre stuff
  {
    background-color: var(--background-secondary-alt);
  }

  // Toggles
  .container__3f21e {
    background-color: color-mix(
      in srgb,
      var(--background-primary),
      white 10%
    ) !important;

    &.checked__3f21e {
      background-color: var(--background-accent) !important;
    }
  }

  // Security keys
  .credentialItem__6c75d {
    background-color: var(--background-secondary);
  }

  .premiumBackground__65c15 {
    background-color: var(--background-secondary);
  }

  //channel settings
  .contentColumn__23e6b {
    .folderHeader__1a4ef,
    .roleMemberList__1a4ef {
      background-color: var(--background-secondary);
    }

    .scroller__53543 {
      background-color: var(--background-primary);
    }

    .group__344e6
      > .item__344e6:not(.selected__344e6) {
      background-color: var(--background-secondary);
    }

    .group__344e6
      > .item__344e6.selected__344e6 {
      background-color: var(--background-tertiary);
    }
  }

  .container__6c21f {
    background-color: var(--background-secondary);

    .content_e9e3ed,
    .contentHeader_e9e3ed {
      background-color: var(--background-secondary);
    }

    .usersList__5cea9,
    .vc-settings-quickActions-pill {
      background-color: var(--background-primary);
    }

    .vc-card-base {
      background-color: var(--background-tertiary);
    }
  }
}
